<div ng-app="AlertApp">

  <div ng-controller="NewCtrl">
    <div class="spinner" ng-show="loading"></div>
    <div class="content-padded">
      <h1>Add a new Alert</h1>

      <form class="simple-form">
        Name: <input type="text" ng-model="Alert.name" /><br />
        Description: <input type="text" ng-model="Alert.description" /><br />

        <a class="topcoat-button" hm-tap="create(Alert)">Add</a>
        <a class="topcoat-button" hm-tap="close()">Cancel</a>
      </form>

    </div>

  </div>

</div>