<div class="spinner" ng-show="loading"></div>
<div class="topcoat-list__container">

    <ul class="topcoat-list" style="text-align: center;">
        <h3 class="topcoat-list__header">Alerts</h3>
        <!-- order is reversed created timestamp -->
        <li class="topcoat-list__item" ng-repeat="Alert in Alerts | orderBy: '-Date'">
            <div class="alertItemContainer">
                <div class="alertLevelRectangle {{displayAlertLevel(Alert.AlertLevel)}} {{viewedAlert(Alert.ID)}}"></div>
                <div class="alertItemBody">{{Alert.Body}}</div>
                <div class="alertInfo">-{{Alert.CreatorName}}, {{Alert.Age}}</div>
            </div>
        </li>
    </ul>
</div>
