<div style="text-align: center;">
    <div class="row">
        <button class="topcoat-button retrieveButton" ng-click="scanQRCode()">Scan QR Code</button>
    </div>
    <div class="row"><span class="textBigWhite">-OR-</span></div>
    <div class="row-no-margin">
        <input type="text" class="topcoat-text-input" placeholder="{{placeHolder}}" ng-model="authKey" value="">
    </div>
    <div class="row">
        <button class="topcoat-button retrieveButton" ng-click="openBrowserForKey()">Retrieve Key</button>

        <button class="topcoat-button--cta submitButton" ng-click="changeAuthKey()" ng-disabled="authKey.length != 64">Submit</button>
    </div>
</div>
