<!--test
 <div ng-view class="view-example"></div>-->

<!DOCTYPE html>
<html ng-app="AlertApp">
<head>
    <meta charset="utf8">
    <title>Arrow Alert</title>

    <link rel="stylesheet" href="../vendor/topcoat/css/topcoat-mobile-dark.css" />
    <link rel="stylesheet" href="../vendor/topcoat/css/main.css" />
    <link rel="stylesheet" href="../css/application.css" />

    <script src="phonegap.js"></script>
    <script src="cordova.js"></script>
    <!--<script src="../../components/steroids-js/steroids.js"></script>-->


    <!--<script src="../../components/angular/angular.min.js"></script>-->

    <script src="http://code.angularjs.org/1.2.0-rc.2/angular.min.js"></script>
    <script src="http://code.angularjs.org/1.2.0-rc.2/angular-animate.min.js"></script>
    <script src="http://code.angularjs.org/1.2.0-rc.2/angular-route.min.js"></script>
    
    <script src="../js/index.js"></script>
    <script src="../components/underscore/underscore-min.js"></script>
    <script src="../components/restangular/dist/restangular.min.js"></script>
    <script src="../vendor/hammerjs/hammer.min.js"></script>
    <script src="../vendor/angular-hammer/angular-hammer.js"></script>
    <script src="../vendor/topcoat/js/main.js"></script>
    <script src="../models/Alert.js"></script>
    <!--<script src="../../javascripts/PageLoader.js"></script>-->
    <script src="../controllers/controllers.js"></script>



</head>
<body>
    <div ng-controller="MainCntl as main" id="wrapper" style="height: 100%;">
        <div class="max-width">
            <div id="sideNav">
                <div id="pageNav">
                    <ul>
                        <!--<li><a href="/Login">Home</a></li>
                        <li><a href="/Alerts">Alert History</a></li>
                        <li><a href="/EditKey">Edit Key</a></li>
                        <li><a href="/LogOut">Log Off</a></li>-->
                        <li><a href="#/Login/index.html">Home</a></li>
                        <li><a href="#/Alerts">Alert History</a></li>
                        <li><a href="#/EditKey">Edit Key</a></li>
                        <li><a href="#/LogOut">Log Off</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="site">
            <header id="main-header">
                <div class="max-width">
                    <hgroup>
                        <h1>ArrowAlert</h1>
                        <p>Hold onto your butts</p>
                    </hgroup>
                    <a id="slide-menu-button" class="topcoat-icon-button--large--quiet"><span class="topcoat-icon--large topcoat-icon--menu-stack"></span></a>
                </div>
            </header>
            <div id="content" class="max-width">
                <div class="example-animate-container">
                    <div ng-view class="view-example"></div>
                </div>
            </div>
            <footer></footer>
        </div>
    </div>
        <script type="text/javascript">
        app.initialize();
    </script>
</body>
</html>
