<div style="text-align: center;">
    <div class="row"><span class="textNormalGrey">QR code is located at arrowmanager.net/account/manage</span></div>
    <div class="row">
        <button class="topcoat-button retrieveButton" ng-click="scanQRCode()">Scan QR Code</button>
    </div>
    <div class="row"><span class="textBigWhite">OR</span></div>
    <div class="row"><span class="textNormalGrey">Click retrieve key, copy your key, and paste it here</span></div>
    <div class="row-no-margin">
        <input type="text" class="topcoat-text-input" ng-model="authKey" value="" id="text">
    </div>
    <div class="row">
        <button class="topcoat-button retrieveButton" ng-click="openBrowserForKey()">Retrieve Key</button>

        <button class="topcoat-button--cta submitButton" ng-click="changeAuthKey()" ng-disabled="authKey.length != 64">Submit</button>
    </div>
    <div class="row">
         <span class="labelText">Show Debug Info: </span>
        <label id="debugSwitch" class="topcoat-switch">
            <input type="checkbox" class="topcoat-switch__input" ng-model="$parent.debug">
            <div class="topcoat-switch__toggle"></div>
        </label>
    </div>
</div>

<script>
    bindHammerSettings();
</script>