<!DOCTYPE html>
<html>
<head>
    <meta charset="utf8">
    <title>Arrow Alert</title>

    <link rel="stylesheet" href="/vendor/topcoat/css/topcoat-mobile-dark.css" />
    <link rel="stylesheet" href="/vendor/topcoat/css/main.css" />
    <link rel="stylesheet" href="/stylesheets/application.css" />
    <!--<link rel="stylesheet" href="/stylesheets/drawer.css" />-->
    <!--<link rel="stylesheet" href="/stylesheets/<%= yield.controller %>.css" />-->

    <script src="/phonegap.js"></script>


    <script src="/components/angular/angular.min.js"></script>

    <script src="/components/underscore/underscore-min.js"></script>
    <script src="/components/restangular/dist/restangular.min.js"></script>

    <script src="/vendor/hammerjs/hammer.min.js"></script>
    <script src="/vendor/angular-hammer/angular-hammer.js"></script>
    <script src="/vendor/topcoat/js/main.js"></script>
    <script src="/models/models.js"></script>
     <script src="/javascripts/PageLoader.js"></script>
    <script src="/controllers/<%= yield.controller %>.js"></script>
</head>
<body class="dark" hm-swiperight="alert('swiped right')" hm-tap="alert('tapped')">
    <div id="wrapper" style="height:100%;">
        <!--<div class="spacer" style="position:; width:1px;height:2000px;"></div>-->
      <div class="max-width">
        <div id="sideNav">
          <div id="pageNav">
            <ul>
              <li><a href="/views/Login/index.html">Home</a></li>
              <li><a href="/views/Alert/index.html" >Alert History</a></li>
              <li><a href="#button">Edit Key</a></li>
              <li><a href="#quiet-button">Log Off</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div id="site">
        <header id="main-header">
          <div class="max-width">
            <hgroup>
              <h1>ArrowAlert</h1>
              <p>Hold onto your butts</p>
            </hgroup>
           <!-- <nav class="site">
              <ul>
                <li class="selected"><a href="http://topcoat.io/topcoat">Demo</a></li>
                <li><a href="http://bench.topcoat.io/">Benchmarks</a></li>
                <li><a href="http://topcoat.io/blog">Blog</a></li>
                <li><a id="download-btn" href="https://github.com/topcoat/topcoat/archive/v0.7.5.zip" onclick="_gaq.push(['_trackEvent', 'download', 'click',,, false]);">Download</a></li>
              </ul>
            </nav>--><a id="slide-menu-button" class="topcoat-icon-button--large--quiet"><span class="topcoat-icon--large topcoat-icon--menu-stack"></span></a>
          </div>
        </header>
        <div id="content" class="max-width" hm-tap="alert('tapped')">
            <%= yield.view %>
        </div>
        <footer></footer>
      </div>
    </div>
</body>
</html>